:root {
  --navHeight: 72px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
}

.header {
  display: block;
  position: sticky;
  top: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: var(--navHeight);
}

.main-body-columns {
  display: flex;
  flex-direction: row;
  margin: 42px 100px 0px;
}

.main-body-columns__left {
  display: flex;
  flex-direction: column;
  background: red;
  flex: 0 0 317px;
  margin-right: 20px;
}

.main-body-columns__middle {
  display: flex;
  flex-direction: column;
  background: green;
}

.main-body-columns__right {
  display: flex;
  flex-direction: column;
  background: blue;
  flex: 0 0 258px;
  margin-left: 23px;
}

/* Picking correct screen widths */
/* https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design */
@media (max-width: 1007px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main-body-columns {
    display: block;
    width: auto;
    min-width: 0;
    margin: 42px 40px 0;
  }

  .main-body-columns__left {
    margin: 0;
  }

  .main-body-columns__right {
    margin: 0;
  }

  .main-body-columns__middle {
    width: inherit;
  }
}

@media (max-width: 640px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main-body-columns {
    display: block;
    width: 100%;
    margin: 42px 0 0;
  }
}
