* {
  margin-block-start: 0;
  margin-block-end: 0;
}

:root {
  --navHeight: 72px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
}

.text {
  font-size: 16px;
  line-height: 20.83px;
  font-family: 'DM Sans', sans-serif;
}

.text--grey-heading {
  color: #595959;
  font-weight: 700;
}

.text--grey-body {
  color: #65676b;
  font-weight: 400;
}

.text--bold-body {
  font-weight: 700;
  color: black;
  margin-bottom: 12px;
}

p {
  display: block;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.text--grey {
  color: #65676b;
}

.header {
  display: block;
  position: sticky;
  top: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: var(--navHeight);
}

.icon {
  display: inline;
}

.main-body-columns {
  display: flex;
  flex-direction: row;
  margin: 42px 100px 0px;
}

.card {
  background: #ffffff;
  border: 0px solid;
  border-radius: 4px;
  margin: 10px 0;
}

.view-more-link {
  color: #f9690e;
  text-decoration: underline;
  text-underline-offset: 1px;
}

.main-body-columns__left {
  display: flex;
  flex-direction: column;
  flex: 0 0 317px;
  margin-right: 20px;
}

.main-body-columns__middle {
  display: flex;
  flex-direction: column;
}

.main-body-columns__right {
  display: flex;
  flex-direction: column;
  flex: 0 0 258px;
  margin-left: 23px;
}

.milestones,
.trending {
  padding: 20px 24px 20px 20px;
}

.milestones__post:first-child {
  margin-top: 24px;
}

.milestones__post:last-child {
  margin-bottom: 26px;
}

.milestones__post {
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.trending__post {
  margin: 24px 0;
}

.trending__subscript {
  display: flex;
  flex-direction: row;
}

.text--float:first-child {
  flex-grow: 10;
}

.icon--profile-pic {
  margin-right: 12px;
}

/* Picking correct screen widths */
/* https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design */
@media (max-width: 1007px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main-body-columns {
    display: block;
    width: auto;
    min-width: 0;
    margin: 42px 40px 0;
  }

  .main-body-columns__left {
    margin: 0;
  }

  .main-body-columns__right {
    margin: 0;
  }

  .main-body-columns__middle {
    width: inherit;
  }
}

@media (max-width: 640px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main-body-columns {
    display: block;
    width: 100%;
    margin: 42px 0 0;
  }
}
