*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

:root {
  --navHeight: 72px;
}

body {
  margin: 0;
  padding: 0;
  background: #f4f5f7;
}

.text {
  font-size: 16px;
  line-height: 20.83px;
  font-family: 'DM Sans', sans-serif;
}

.text--grey-heading {
  color: #595959;
  font-weight: 700;
}

.text--grey-body {
  color: #65676b;
  font-weight: 400;
}

.text--bold-body {
  font-weight: 700;
  color: black;
}

.text--margin-bot {
  margin-bottom: 12px;
}

p {
  display: block;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.text--grey {
  color: #65676b;
}

.header {
  display: block;
  position: sticky;
  top: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: var(--navHeight);
}

.icon {
  display: inline;
}

.main-body-columns {
  display: flex;
  flex-direction: row;
  margin: 42px 100px 0px;
}

.card {
  background: #ffffff;
  border: 0px solid;
  border-radius: 5px;
  margin: 10px 0;
}

.view-more-link {
  color: #f9690e;
  text-decoration: underline;
  text-underline-offset: 1px;
  font-weight: 700;
}

.main-body-columns__left {
  display: flex;
  flex-direction: column;
  flex: 0 0 317px;
  margin-right: 20px;
}

.main-body-columns__middle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-body-columns__right {
  display: flex;
  flex-direction: column;
  flex: 0 0 258px;
  margin-left: 23px;
}

.milestones,
.trending {
  padding: 20px 24px 20px 20px;
}

.milestones__post:first-child {
  margin-top: 24px;
}

.milestones__post:last-child {
  margin-bottom: 26px;
}

.milestones__post {
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.search {
  padding: 16px 24px;
  height: 77px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.icon--fixed-sized {
  width: 30px;
  height: 100%;
  justify-items: center;
}

.search__input {
  position: absolute;
  top: 16px;
  right: 24px;
  height: calc(100% - 16px * 2);
  width: calc(100% - 30px - 24px * 2 - 16px);
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  padding-left: 24px;
}

.icon--add-image {
  z-index: 10;
  width: 24px;
  height: 100%;
  margin-left: auto;
  margin-right: 24px;
}

.post__wrapper {
  padding: 16px 24px;
}

.post__pic-namedate {
  display: inline-block;
}

.post__pic {
  display: inline-block;
}

.post__namedate {
  margin-left: 12px;
  display: inline-block;
}

.post__image {
  width: 100%;
}

.trending__post:first-child {
  margin-top: 24px;
}

.trending__post:last-child {
  margin-bottom: 26px;
}

.trending__post {
  margin: 24px 0;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.side-by-side--bot-margin {
  margin-bottom: 16px;
}

.left-right-align--border {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.notification--report {
  padding: 6px 12px;
}

.report-flag {
  display: inline;
  margin-right: 10px;
}

.text--inline-block {
  display: inline;
}

.left-right-align:first-child {
  flex-grow: 10;
}

.left-right-align:last-child {
  padding: 0 1px;
}

.icon--right-margin {
  margin-right: 12px;
}

/* Picking correct screen widths */
/* https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design */
@media (max-width: 1007px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main-body-columns {
    display: block;
    width: auto;
    min-width: 0;
    margin: 42px 40px 0;
  }

  .main-body-columns__left {
    margin: 0;
  }

  .main-body-columns__right {
    margin: 0;
  }

  .main-body-columns__middle {
    width: inherit;
  }
}

@media (max-width: 640px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main-body-columns {
    display: block;
    width: 100%;
    margin: 42px 0 0;
  }
}
